@import "tailwindcss";
@import "tw-animate-css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

/* Import specific weights */
@import "@fontsource-variable/manrope";

@theme {
  --font-heading: 'Manrope Variable', sans-serif;
  --font-sans: 'Manrope Variable', sans-serif;
}



body {
  font-family: var(--font-sans);
}